<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Certificate Sender Thing</title>
    <meta name="author" content="GDSC JSSSTU" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/skeleton.css') }}"
    />
  </head>
  <body>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <div class="row">
        <div class="one-half column" style="margin-top: 2rem">
          <h4>Certificate E-mail Status</h4>
        </div>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Resend</th>
            </tr>
          </thead>
          <tbody>
            {% for i in name_email %}
            <tr>
              <td>{{ i['name'] }}</td>
              <td>{{ i['email'] }}</td>
              <td id="{{ i['email'] }}">🟨 Waiting</td>
              <td><a href="#" onclick="resend('{{ i['name'] }}', '{{ i['email'] }}')">Resend</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on("connect", function () {
        console.log("Connected");
      });

      socket.on("status", function (msg) {
        console.log(msg);
        let ele = document.getElementById(msg.email);
        ele.innerText = msg.status;
      });

      function resend(name, email) {
          socket.emit('resend', {name: name, email: email})
      }
    </script>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
